/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
.card{
  background-color: blue;
  background-image: linear-gradient(to right,blue , rgb(255, 255, 255));

} */


*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  display:flex;
}
main{
  width:100%;
  padding:10%;
}
.sidebar{
  background-color: rgb(34, 34, 215);
  color:rgb(127, 147, 164);
  height: 100vh;
  width: 20%;
}
.top_section{
  display: flex;
  align-items: center;
  padding:20px 15px;
}
.logo{
 font-size: 25px;
}
.bars{
  font-size:25px;
  display: flex;
  margin-left: 25px;
}
.link{
  display:flex;
  color:azure;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background: rgb(83, 172, 202);
  transition: all 0.5s;
}
.active{
  background:rgb(77, 168, 198);
}
.icon,.link_text{
  font-size: 20px;
}
